.main-block {
	background-color: orange;
	height: 500px;
	width: 500px;
	padding-top: 15px;
	padding-left: 15px;

}

.small-block {
	cursor: hand;
	margin-left: 18px;
	margin-top: 18px;
	height: 100px;
    width: 100px;
    background-color: turquoise;
    text-align: center;
    font-size: 55px;
    padding-top: 10px;


}

.row {
	display: inline-flex;
}

.table {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 14px;
border-collapse: collapse;
text-align: center;
}
.th, .td:first-child {
background: #AFCDE7;
color: white;
padding: 10px 20px;
}
.th, .td {
border-style: solid;
border-width: 0 1px 1px 0;
border-color: white;
}
.td {
background: #D8E6F3;
}
.th:first-child, td:first-child {
text-align: left;
}