.main-block {
	background-color: orange;
	height: 500px;
	width: 500px;
	padding-top: 15px;
	padding-left: 15px;

}

.small-block {
	cursor: hand;
	margin-left: 18px;
	margin-top: 18px;
	height: 100px;
    width: 100px;
    background-color: turquoise;
    text-align: center;
    font-size: 55px;
    padding-top: 10px;


}

.row {
	display: inline-flex;
}